<!-- ngx-datatable-row-details -->

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <div class="card">
            <h5 class="card-header">Chercher</h5>
            <div class="card-body">
                <div class="users-list-filter">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Tous</option>
                                        <option value="Active">Active</option>
                                        <option value="Blocked">Bloqué</option>
                                        <option value="deactivated">Désactivé</option>
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- users filter end -->

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List of Schools</h4>


                <div class="col-12 mb-50">


                    <div class="card-body">
                        <div class="w-100">
                            <ngx-datatable
                                #tableRowDetails
                                class="bootstrap core-bootstrap"
                                columnMode="force"
                                [headerHeight]="40"
                                [footerHeight]="50"
                                [rowHeight]="58"
                                [limit]="10"
                                [rows]="rows"
                                [scrollbarH]="true"
                            >
                                <!-- Row Detail Template -->
                                <ngx-datatable-row-detail [rowHeight]="50">

                                    <ng-template let-row="row" let-expanded="expanded"
                                                 ngx-datatable-row-detail-template>
                                        <strong>Address : </strong> <span>{{ joinAddressBlocks(row.adresse) }}</span>
                                    </ng-template>
                                </ngx-datatable-row-detail>


                                <ngx-datatable-column
                                        [width]="50"
                                        [resizeable]="false"
                                        [sortable]="false"
                                        [draggable]="false"
                                        [canAutoResize]="false"
                                >
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        <a
                                                href="javascript:void(0)"
                                                [class.datatable-icon-right]="!expanded"
                                                [class.datatable-icon-down]="expanded"
                                                title="Expand/Collapse Row"
                                                (click)="rowDetailsToggleExpand(row)"
                                        >⬍
                                        </a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <img
                                        class="rounded-circle mr-1"
                                        src="assets/images/portrait/small/"
                                        height="32"
                                        width="32"
                                        alt="datatable-avatar"
                                />

                                <ngx-datatable-column name="Name⬍" prop="nom" [width]="20"></ngx-datatable-column>
                                <ngx-datatable-column  name="Email⬍" prop="email" [width]="20"></ngx-datatable-column>
                                <ngx-datatable-column name="N°Depart⬍" prop="photo" [width]="20"></ngx-datatable-column>

                                <ngx-datatable-column name="Num Tel⬍" prop="numTel"
                                                      [width]="20"></ngx-datatable-column>
                                <ngx-datatable-column name="Status⬍" prop="codeFiscal"
                                                      [width]="20">
                                    <ng-template let-status="value" ngx-datatable-cell-template>
                                        <div
                                                class="badge badge-pill"
                                                [ngClass]="{
                  'badge-light-success': status == 'active',
                  'badge-light-secondary': status == 'inactive',
                  'badge-light-warning': status == 'pending'
                }"
                                        >
                                            {{ status }}
                                        </div>
                                    </ng-template>


                                </ngx-datatable-column>
                                <ngx-datatable-column name="Actions" [width]="5" [sortable]="false">

                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <div class="d-flex align-items-center">
                                            <a routerLink="/ecoles/newecole/{{ row.id }}" ngbDropdownItem
                                            > <i data-feather="edit" class="text-primary cursor-pointer"></i>
                                                Edit</a
                                            >
                                            <a
                                                    [swal]="{
                                                        icon: 'success',
                text: 'cette action va supprimer ce client ',
                title: 'confirmer ?',
                showCancelButton: true,
                confirmButtonText: 'oui',
                customClass: {
                  confirmButton: 'btn btn-primary ',
                  cancelButton: 'btn btn-primary ml-1'
                  }
                }"
                                                    (click)="deleteecole(row.id)"
                                            ><i data-feather="trash" class="text-primary cursor-pointer"></i>Supprimer</a
                                            >
                                        </div>


                                    </ng-template>


                                </ngx-datatable-column>


                            </ngx-datatable>

                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect
                            >Export CSV</a
                            >
                            <button type="submit"
                                    class="btn btn-primary float-right mr-1" (click)="newSchool()">

                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-statt></app-statt>




        <!-- ngx-datatable-row-details -->