<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
  ><i class="ficon" data-feather="bell"></i
  ><span class="badge badge-pill badge-danger badge-up">{{
      countUnreadNotifications()
    }}</span>
  </a>
  <ul
      ngbDropdownMenu
      aria-labelledby="navbarNotificationDropdown"
      class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >
    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
        <div class="badge badge-pill badge-light-primary">
          {{ countUnreadNotifications() }} New
        </div>
      </div>
    </li>
    <!--/ Notifications header -->

    <!-- Notifications content -->
    <li class="scrollable-container media-list" [perfectScrollbar]>
      <a class="d-flex" routerLink="{{notification.actionUrl}}" *ngFor="let notification of notifications">
        <div class="media d-flex align-items-start" [class.bg-light-primary]=!notification.isRead
             (mouseover)="markAsRead(notification)">
          <div class="media-left">
            <div class="avatar">
              <div class="icon-wrapper">
                <i [data-feather]="notification.icon" [size]="12"></i>
              </div>
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading" [innerHTML]="notification.title"></p>
            <small class="notification-text">{{ notification.content }}</small>
          </div>
        </div>
      </a
      >
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" (click)="markAllAsRead()">Read all notifications</a>
    </li>
    <!--/ Notifications footer -->
  </ul>
</li>
