<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-user-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">First Name</label>
            <input
                type="text"
                class="form-control dt-first-name"
                id="basic-icon-default-fullname"
                placeholder="John"
                name="user-first-name"
                [(ngModel)]="user.prenom"
                [class.error]="newUserForm.submitted && FNameRef.invalid"
                #FNameRef="ngModel"
                required
            />
            <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">Last Name</label>
            <input
                type="text"
                class="form-control dt-last-name"
                id="basic-icon-default-last"
                placeholder="Doe"
                name="user-last-name"
                [(ngModel)]="user.nom"
                [class.error]="newUserForm.submitted && LNameRef.invalid"
                #LNameRef="ngModel"
                required
            />
            <span *ngIf="newUserForm.submitted && LNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="LNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label-2" for="basic-icon-default-email">Email</label>
            <input
                type="email"
                class="form-control dt-email"
                id="basic-icon-default-email"
                placeholder="email@example.com"
                name="user-email"
                [(ngModel)]="user.email"
                [class.error]="newUserForm.submitted && EmailRef.invalid"
                #EmailRef="ngModel"
                required
            />
            <span *ngIf="newUserForm.submitted && EmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="EmailRef.errors.required">This field is required!</small>
              <small class="form-text text-danger" *ngIf="EmailRef.errors.email">Please enter a valid email!</small>
            </span>
          </div>


          <div class="form-group">
            <label class="form-label mb-1" for="basic-icon-default-password">Phone number</label>
            <div class="position-relative has-icon-left">
              <input
                  type="number"
                  class="form-control dt-password"
                  id="basic-phone"
                  placeholder="Phone number"
                  name="user-phone"
                  [(ngModel)]="user.numTel"
                  [class.error]="newUserForm.submitted && PhoneRef.invalid"
                  #PhoneRef="ngModel"
                  required
              />
              <span *ngIf="newUserForm.submitted && PhoneRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="PhoneRef.errors.required">This field is required!</small>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label mb-1" for="basic-icon-default-password">Password</label>
            <div class="position-relative has-icon-left">
              <input
                  type="password"
                  class="form-control dt-password"
                  id="basic-icon-default-password"
                  placeholder="Password"
                  name="user-password"
                  [(ngModel)]="user.password"
                  [class.error]="newUserForm.submitted && PasswordRef.invalid"
                  #PasswordRef="ngModel"
                  required
              />
              <span *ngIf="newUserForm.submitted && PasswordRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="PasswordRef.errors.required">This field is required!</small>
              </span>
            </div>
          </div>



          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Submit</button>
          <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-user-sidebar')"
              rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
