<div class="col">
    <div class="row m-2">
      <div class="col-md-0 p-4">
        <h1>Liste des etudiants</h1>



              <div class="d-flex justify-content-md-between">
              <a type="button" class="btn btn-primary" (click)="nvEtudiant()">

                  <i class="fas fa-plus"></i>&nbsp;
                  Nouveau
              </a>







              <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect
              >Export CSV</a>


      </div>








    </div>

            <div  class="row mb-3">
            <div class=" col-md-12 text-center">
        <input type="text"  class="form-control" placeholder="search here" name="search" [(ngModel)]="searchText" placeholder="search">

             </div>
             </div>
    </div>


     <!--   <app-boutton-action  (clickEvent)="nvEtudiant()"></app-boutton-action> -->


    <div class="col m-3">
        <app-detail-etudiant *ngFor="let etud of listEtudiants | filter:searchText" [etudiantDto]="etud" (suppressionResult)="handleSuppression($event)"> </app-detail-etudiant>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
        <div *ngIf="listEtudiants.length == 0" class="alert alert-info" role="alert" >
           <H1>Aucun etudiant trouvé dans cette classe </H1>
        </div>
            </div>
        </div>

    </div>


    <div class="card-footer">
        <div class="d-flex justify-content-end">
            <div *ngIf="listEtudiants.length != 0" >
            <ngb-pagination [collectionSize]="50" [(page)]="pageBasicText" aria-label="Custom pagination"  >

              <ng-template ngbPaginationPrevious
              ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
              </ng-template>
              <ng-template ngbPaginationNext
              >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
              </ng-template>
          </ngb-pagination>
            </div>

         </div>
       </div>

</div>
