<div    *ngIf="currentUser.role === 'ROLE_ETUDIANT' ">
<div class="col">
    <div class="row m-2">
      <div class="col-md-0 p-4">
        <h1>Students List</h1>



              <div class="d-flex justify-content-md-between">
                  <a csvLink [data]="exportCSVData" class="btn btn-outline-primary round"rippleEffect
                  >Export CSV</a>

              <a type="button"  class="btn btn-outline-primary round"   (click)="nvEtudiant()">

                  <i class="fas fa-plus"></i>&nbsp;
                  new
              </a>






      </div>








    </div>

            <div  class="row mb-3">
            <div class=" col-md-12 text-center">
        <input type="text"  class="form-control" placeholder="search here" name="search" [(ngModel)]="searchText" placeholder="search">

             </div>
             </div>
    </div>


     <!--   <app-boutton-action  (clickEvent)="nvEtudiant()"></app-boutton-action> -->


    <div class="col m-3">
        <app-detail-etudiant *ngFor="let etud of listEtudiants | filter:searchText" [etudiantDto]="etud" (suppressionResult)="handleSuppression($event)"> </app-detail-etudiant>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
        <div *ngIf="listEtudiants.length == 0" class="alert alert-info" role="alert" >
           <H1>this class is empty ! </H1>
        </div>
            </div>
        </div>

    </div>


    <div class="card-footer">
        <div class="d-flex justify-content-end">
            <div *ngIf="listEtudiants.length != 0" >
            <ngb-pagination [collectionSize]="index" [(page)]="pageBasicText" aria-label="Custom pagination"  >

              <ng-template ngbPaginationPrevious
              ><div class="button"  (click)="previous()"> Previous</div>
              </ng-template>
              <ng-template ngbPaginationNext
              ><div class="button"  (click)="next()">  Next   </div>
              </ng-template>
          </ngb-pagination>
            </div>

         </div>
       </div>

</div>
    </div>

<div    *ngIf="currentUser.role != 'ROLE_ETUDIANT' ">


<div  class="alert alert-info" role="alert" >
    <div class="d-flex justify-content-center">
    <H1>You Should Connect As Admin To See Students List </H1>
    </div>
</div>
</div>


