<div    *ngIf="currentUser.role === 'ROLE_ETUDIANT' ">

<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-3">
    <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
      <!--<img [src]="imgUrl" class="rounded-circle" width="200px" height="200px" /> -->
      <img src="assets/images/contact.png" class="rounded-circle" width="100px" height="100px" />

      <!-- <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)"> -->
      <input hidden type="file" #fileInput (change)="(fileInput.files)">
    </button>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Class Information</h2>
    </div>


    <div class="col-md-12">
     <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        
          <div *ngFor="let msg of errorMsg">
            <span>{{msg}}</span>
          </div>
        </div>
        <form>


          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" name="nomclasse" placeholder="nom de la classe"
                [(ngModel)]="classeDto.nomClasse">

            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" name="specialite" placeholder="specialite"
                [(ngModel)]="classeDto.specialite">

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <button class="btn btn-danger mr-3" (click)="cancelClick()">

        <i class="fas fa-ban"></i>&nbsp;
        CANCEL
      </button>

      <button class="btn btn-primary" (click)="enregistrerClasse()">

        <i class="fas fa-save"></i>&nbsp;
        SAVE
      </button>
    </div>

  </div>
</div>

<div    *ngIf="currentUser.role != 'ROLE_ETUDIANT' ">
<div  class="alert alert-info" role="alert" >
  <div class="d-flex justify-content-center">
    <H1>You Should Connect As Admin To Insert Class </H1>
  </div>
</div>
</div>

