<div    *ngIf="currentUser.role === 'ROLE_ADMIN' ">

<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-3">
    <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
      <!--<img [src]="imgUrl" class="rounded-circle" width="200px" height="200px" /> -->
      <img src="assets/images/contact.png" class="rounded-circle" width="100px" height="100px" />

      <!-- <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)"> -->
      <input hidden type="file" #fileInput (change)="(fileInput.files)">
    </button>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Class Information</h2>
    </div>


    <div class="col-md-12">
     <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        
          <div *ngFor="let msg of errorMsg">
            <span>{{msg}}</span>

          </div>
        </div>
        <form>


          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="class name"
                     required
                     id="nam"
                     ngModel
                     name="inputName"
                     #inputName="ngModel"
                     [class.error]="!inputName.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"
                [(ngModel)]="classeDto.nomClasse">


            </div>
            <ngb-alert [type]="'danger'" *ngIf="!inputName.valid" class="mt-lg-0" [dismissible]="false">
              <div class="alert-body" >
                <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                <small>Enter<strong> valid name</strong></small>
              </div>
            </ngb-alert>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control"  placeholder="Speciality"
                     required
                     id="nadm"
                     ngModel
                     name="inputSpec"
                     #inputSpec="ngModel"
                     [class.error]="!inputSpec.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"
                [(ngModel)]="classeDto.specialite">

            </div>
            <ngb-alert [type]="'danger'" *ngIf="!inputSpec.valid" class="mt-lg-0" [dismissible]="false">
              <div class="alert-body" >
                <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                <small>Enter<strong> valid speciality</strong></small>
              </div>
            </ngb-alert>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <button class="btn btn-danger mr-3" (click)="cancelClick()">

        <i class="fas fa-ban"></i>&nbsp;
        CANCEL
      </button>

      <button class="btn btn-primary" (click)="enregistrerClasse()">

        <i class="fas fa-save"></i>&nbsp;
        SAVE
      </button>
    </div>

  </div>
</div>

<div    *ngIf="currentUser.role != 'ROLE_ADMIN' ">
<div  class="alert alert-info" role="alert" >
  <div class="d-flex justify-content-center">
    <H1>You Should Connect As Admin To Insert Class </H1>
  </div>
</div>
</div>

