<span class="avatar" *ngIf="user.avatar && user.avatar.length > 0; else customAvatar">
            <img
                    class="round"
                    src="{{ user.avatar }}"
                    alt="avatar"
                    [ngStyle] = "{'width.rem': canvasSize, 'height.rem': canvasSize}"
            />
<!--            <span class="avatar-status-online"></span>-->
          </span>
<ng-template #customAvatar>
    <div class="avatar" [ngStyle] = "{'width.rem': canvasSize, 'height.rem': canvasSize}"
         [ngClass]="
                    {
                      'bg-light-danger': user.role === Role.Admin,
                      'bg-light-success': user.role === Role.Etudiant,
                      'bg-light-warning': user.role === Role.Professeur,
                      'bg-light-primary': user.role === Role.Parent
                    }"
    >
        <div class="avatar-content"
             [ngStyle]="{
              'font-size': this.initialsSize + ' rem!important;',
              'width': '100% ',
              'height': 'unset'
              }">{{user.prenom + user.nom | initials | uppercase }}
        </div>
    </div>
</ng-template>