<div *ngIf="currentUser.role === 'ROLE_ADMIN' ">
  <div class="col mb-3">
    <div class="col-md-12">
      <div class="col-md-12 mb-3">
        <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Student Information</h2>
      </div>

      <div class="col-md-12">
        <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
          <div *ngFor="let msg of errorMsg">
            <span>{{msg}}</span>

          </div>
        </div>
        <form>
          <div class="row mb-3">
            <div class="col">
              <!-- <input type="text" class="form-control" name="codearticle" placeholder="Code article" [(ngModel)]="articleDto.codeArticle"> -->
              <input
                      class="form-control"
                      required
                      id="nam"
                      ngModel
                      name="inputName"
                      #inputName="ngModel"
                      [class.error]="!inputName.valid"
                      type="text"
                      pattern="[A-Za-z]{1,32}"
                      [(ngModel)]="etudiantDto.nom"

              >
              <ngb-alert [type]="'danger'" *ngIf="!inputName.valid && inputName.touched " class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid name</strong></small>
                </div>
              </ngb-alert>

            </div>
            <div class="col">
              <!--  <input type="text" class="form-control" name="designation" placeholder="Designation"  [(ngModel)]="articleDto.designation"> -->
              <input type="text" class="form-control"  placeholder="FirstName"
                     [(ngModel)]="etudiantDto.prenom"
                     class="form-control"
                     required
                     ngModel
                     name="inputPrenom"
                     #inputPrenom="ngModel"
                     [class.error]="!inputPrenom.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"


              >
              <ngb-alert [type]="'danger'" *ngIf="!inputPrenom.valid && inputPrenom.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid firstname</strong></small>
                </div>
              </ngb-alert>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control"  placeholder="date"
                     [(ngModel)]="etudiantDto.dateDeNaissance"

              required
              ngModel
              name="inputDate"
              #inputDate="ngModel"
              [class.error]="!inputDate.valid"
              type="text"
              pattern="\d{1,2,4}-\d{1,2}-\d{4,2}"
              >
              <ngb-alert [type]="'danger'" *ngIf="!inputDate.valid && inputDate.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Date</strong></small>
                </div>
              </ngb-alert>
            </div>


            <div class="col">
              <input type="text" class="form-control"  placeholder="Email " [(ngModel)]="etudiantDto.email"

                     required
                     id="inputEmail"
                     ngModel
                     name="inputEmail"
                     #inputEmail="ngModel"
                     [class.error]="!inputEmail.valid"
                     type="text"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"



              >
              <ngb-alert [type]="'danger'" *ngIf="!inputEmail.valid && inputEmail.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid email</strong></small>
                </div>
              </ngb-alert>
            </div>

            <div class="col">
              <select class="form-control"  [(ngModel)]="classeDto.id"
                      required
                      id="nams"
                      name="class"
                      ngModel
                      #class="ngModel"
                      [class.error]="!class.valid"
                      type="text"
                      pattern="[A-Za-z]{1,32}"


              >


                <!--  <option *ngFor="let cat of listeCategorie" [value]="cat.id">{{ cat.code }} - {{ cat.designation }}</option> -->
                <option *ngFor="let class of listeClasse" [value]="class.id" > {{ class.nomClasse }}</option>
              </select>
              <div>
                <ngb-alert [type]="'danger'" *ngIf="class.value==null " class="mt-lg-0" [dismissible]="false">
                  <div class="alert-body" >
                    <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                    <small>Enter<strong> valid Classe</strong></small>
                  </div>
                </ngb-alert>
              </div>

            </div>


            <div class="col">
              <select class="form-control" name="Parent" [(ngModel)]="parentDto.id">
                <option [value]="null">Select Parent</option>
                <!--  <option *ngFor="let cat of listeCategorie" [value]="cat.id">{{ cat.code }} - {{ cat.designation }}</option> -->
                <option *ngFor="let par of listeParent" [value]="par.id">  {{ par.id }} - mr {{ par.nom }}
                  - {{ par.prenom }} </option>
              </select>
            </div>


          </div>


          <div class="row mb-3">
            <div class="col">
              <input type="text"   placeholder="adresse1"
                     [(ngModel)]="adresseDto.adresse1"
                     class="form-control"
                     required
                     id="nasm"
                     ngModel
                     name="inputAdresse1"
                     #inputAdresse1="ngModel"
                     [class.error]="!inputAdresse1.valid "
                     type="text"
                     pattern="[A-Za-z]{1,32}"

              >
              <ngb-alert [type]="'danger'" *ngIf="!inputAdresse1.valid && inputAdresse1.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Adresse 1</strong></small>
                </div>
              </ngb-alert>
            </div>


            <div class="col">
              <input type="text" class="form-control"
                     placeholder="adresse2"
                     [(ngModel)]="adresseDto.adresse2"
                     required
                     id="nasdm"
                     ngModel
                     name="inputAdresse2"
                     #inputAdresse2="ngModel"
                     [class.error]="!inputAdresse2.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"

              >
              <ngb-alert [type]="'danger'" *ngIf="!inputAdresse2.valid  && inputAdresse2.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Adresse 2</strong></small>
                </div>
              </ngb-alert>
            </div>


            <div class="col">
              <input type="text" class="form-control"  placeholder="codePostale"
                     [(ngModel)]="adresseDto.codePostale"
                     required
                     id="nasddm"
                     ngModel
                     name="inputCodepo"
                     #inputCodepo="ngModel"
                     [class.error]="!inputCodepo.valid"
                     type="text"
                     pattern="[0-9]*"
              >
              <ngb-alert [type]="'danger'" *ngIf="!inputCodepo.valid  && inputCodepo.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Code postal</strong></small>
                </div>
              </ngb-alert>
            </div>


            <div class="col">
              <input type="text" class="form-control"  placeholder="pays" [(ngModel)]="adresseDto.pays"
                     required
                     id="nansm"
                     ngModel
                     name="inputPays"
                     #inputPays="ngModel"
                     [class.error]="!inputPays.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"



              >
              <ngb-alert [type]="'danger'" *ngIf="!inputPays.valid && inputPays.touched" class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Pays</strong></small>
                </div>
              </ngb-alert>
            </div>
          </div>


          <div class="row mb-3">

            <div class="col">
              <input type="text" class="form-control"  placeholder="ville" [(ngModel)]="adresseDto.ville"
                     required
                     id="nasmk"
                     ngModel
                     name="inputVille"
                     #inputVille="ngModel"
                     [class.error]="!inputVille.valid"
                     type="text"
                     pattern="[A-Za-z]{1,32}"



              >
              <ngb-alert [type]="'danger'" *ngIf="!inputVille.valid && inputVille.touched " class="mt-lg-0" [dismissible]="false">
                <div class="alert-body" >
                  <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
                  <small>Enter<strong> valid Vile</strong></small>
                </div>
              </ngb-alert>

            </div>


          </div>

          <div class="col-md-12 mb-3 mt-3">
            <h3><i class="fas fa-info-circle blue-color mb-2"></i>&nbsp;Credentials</h3>
            <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
              <div *ngIf="etudiantDto.photo; then content else placeholder" class="d-flex"></div>
              <ng-template #content >
                <img [src]="etudiantDto.photo" class="rounded-circle" width="60px" height="60px">
                <span class="text-success">Credential requirements satisfied</span>

                <input hidden type="file" #fileInput (change)="(fileInput.files)">
              </ng-template>
              <ng-template #placeholder>
                <img src="http://craftsnippets.com/articles_images/placeholder/placeholder.jpg" class="rounded-circle mr-2" width="60px" height="60px" alt="placeholder">
                <span class="text-danger" *ngIf="!this.providedCredentials">No credentials provided</span>
                <span class="text-info" *ngIf="this.providedCredentials">Selected credentials</span>
              </ng-template>

              <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)">
            </button>
          </div>

        </form>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <!--<button class="btn btn-danger mr-3" (click)="cancel()"> -->
      <button class="btn btn-outline-primary round" (click)="cancelClick()">

        <i class="fas fa-ban"></i>&nbsp;
        CANCEL
      </button>
      <!--<button class="btn btn-primary" (click)="enregistrerArticle()"> -->
      <button class="btn btn-outline-primary round" (click)="enregistrerEtudiant() "
              required
              id="btnSubmit"
              ngModel
              name="btnSubmit"
              #btnSubmit="ngModel"
              [class.error]="!btnSubmit.touched"
              type="button"


      >

        <i class="fas fa-save"></i>&nbsp;
        SAVE
      </button>
    </div>

  </div>
</div>
<div *ngIf="currentUser.role != 'ROLE_ADMIN' ">
  <div class="alert alert-info" role="alert">
    <div class="d-flex justify-content-center">
      <H1>You Should Connect As Admin To Insert Students </H1>
    </div>
  </div>
</div>

