

<form class="form form-horizontal" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm"    *ngIf="currentUser.role === 'ROLE_ADMIN' ">
    <ng-template #Unothorized>
        <app-not-authorized></app-not-authorized>
    </ng-template>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label>School name</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group input-group-merge">

                        <input
                                type="text"
                                class="form-control dt-full-name"
                                id="basic-icon-default-fullname"
                                placeholder="John Doe"
                                name="user-fullname"
                                [(ngModel)]="ecoleDto.nom"
                                [class.error]="submitted "
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                        />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Nom is required</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label>Email</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group input-group-merge">
                        <input
                                type="text"
                                id="basic-icon-default-email"
                                class="form-control dt-email"
                                placeholder="john.doe@example.com"
                                aria-label="john.doe@example.com"
                                aria-describedby="basic-icon-default-email2"
                                name="user-email"
                                [(ngModel)]="ecoleDto.email"
                                [class.error]="newUserForm.submitted && FEmailRef.invalid"
                                #FEmailRef="ngModel"
                                required

                        />
                        <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
            </span>
                        <small class="form-text text-muted"> You can use numbers, letters, and symbols </small>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label>Status</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group input-group-merge">


                            <label for="status"></label>
                            <select class="form-control" [(ngModel)]="ecoleDto.codeFiscal"
                                    name="status" id="status">
                                <option>active</option>
                                <option>inactive</option>
                                <option>pending</option>
                            </select>
                        <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
            </span>
                        <small class="form-text text-muted">active|inactive|pending</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label>Phone number</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group input-group-merge">
                        <input
                                type="text"
                                id="basic-icon-default-num"
                                class="form-control"
                                placeholder="98975800"
                                aria-label="john.doe@example.com"
                                aria-describedby="basic-icon-default-email2"
                                name="user-email"
                                [(ngModel)]="ecoleDto.numTel"
                                [class.error]="newUserForm.submitted && FEmailRef.invalid"
                                #FEmailRef="ngModel"
                                required

                        />
                        <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label>Number of departements</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group input-group-merge">
                        <input
                                type="text"
                                id="basic-icon-default-nums"
                                class="form-control"
                                placeholder="3"
                                aria-label="john.doe@example.com"
                                aria-describedby="basic-icon-default-email2"
                                name="user-email"
                                [(ngModel)]="ecoleDto.photo"
                                [class.error]="newUserForm.submitted && FEmailRef.invalid"
                                #FEmailRef="ngModel"
                                required

                        />
                        <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
            </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9 offset-sm-3">
            <button type="submit"
                    class="btn btn-outline-primary round"
                    (click)="submit(newUserForm)"
                    rippleEffect
                    [swal]="{
                     icon: 'question',
                     text: 'This action will send the new ecole an email with their credentials',
                      title: 'Add Ecole?',
                      confirmButtonText: 'Add',
                        showCancelButton: true



                     }"
            >Submit


            </button>
        </div>
    </div>
</form>
<div    *ngIf="currentUser.role != 'ROLE_ADMIN' ">
    <div class="d-flex justify-content-center">
            <ngb-alert [type]="'danger'" [dismissible]="false">
                <h4 class="alert-heading">NOT_AUTHORIZED</h4>
                <div class="alert-body">
                    Only Admin can add schools, Please connect as Admin to add schools!
                </div>
            </ngb-alert>
        </div>

</div>
  