
<div class="row mb-5 mr-0 custom-border">
    <div class="col mb-3">


    <button (click)="fileInput.click()" style="background-color: transparent; border: none;">

        <img [src]="etudiantDto.photo ? etudiantDto.photo : 'assets/images/etudiant.png'"  width="100px" height="100px">


        <input hidden type="file" #fileInput (change)="(fileInput.files)">
    </button>
    </div>

  <!--  Details article-->
    <div class="col-md-5 custom-border-right mb-1 mt-1 ">
      <div class="col">
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <!--   <div class="col-md-11">{{ articleDto.codeArticle }}</div> --> 
        <div class="col-md-11">{{etudiantDto.nom}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
          <!-- <div class="col-md-11">{{ articleDto.designation }}</div> --> 
          <div class="col-md-11">{{etudiantDto.prenom}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
         <!--  <div class="col-md-11">{{ articleDto.prixUnitaireHt }} €</div> --> 
         <div class="col-md-11">{{etudiantDto.dateDeNaissance}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>

         <div class="col-md-11">{{etudiantDto.adresse?.adresse1}}</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>

         <div class="col-md-11">{{etudiantDto.email}}</div>
        </div>

        <div class="row">
          <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>

         <div class="col-md-11">{{etudiantDto.classe?.nomClasse}}</div>
        </div>

      </div>
    </div>
  
  <!--  details categorie-->
  <div class="col-md-2 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
        <!-- <div class="col-md-12">{{ articleDto.category?.code }}</div>  -->
        <!--<div class="col-md-12">designation</div> -->
          <!-- <div class="col-md-12">{{ articleDto.category?.designation }}</div> -->
          <div class="col-md-12">{{etudiantDto.id}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--  boutons action-->
  <div class="col-md-2 mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-4">



          <button type="button" class="btn btn-link" (click)="modifierEtudiant(etudiantDto.id)" >

              <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
          </button>


      </div>

        <div class="col-md-4">


            <button type="button" class="btn btn-link text-danger"  (click)="confirmerEtSupprimer(etudiantDto.id)"  >
                <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
            </button>



       </div>
    </div>
  </div>
</div>