<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
              ><i data-feather="user" class="mr-sm-50"></i><span class="d-none d-sm-block">Account</span></a
              >
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                  <!-- users edit media object start -->
                  <div class="media mb-2">
                    <app-initials-avatar [user]="currentRow" [size]="4.5"></app-initials-avatar>
                    <div class="media-body mt-50">
                      <h4>{{ currentRow.prenom }} {{currentRow.nom}}</h4>
                      <div class="col-12 d-flex mt-1 px-0">
                        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                          <span class="d-none d-sm-block">Change</span>
                          <input
                              class="form-control"
                              type="file"
                              id="change-picture"
                              hidden
                              accept="image/png, image/jpeg, image/jpg"
                              (change)="uploadImage($event)"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                        <button class="btn btn-outline-secondary d-block d-sm-none">
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="username">First Name</label>
                          <input
                              type="text"
                              id="username"
                              class="form-control"
                              placeholder="Username"
                              name="username"
                              [(ngModel)]="currentRow.prenom"
                              [class.error]="accountForm.submitted && UserNameRef.invalid"
                              #UserNameRef="ngModel"
                              required
                          />
                          <span *ngIf="accountForm.submitted && UserNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Last Name</label>
                          <input
                              type="text"
                              id="name"
                              class="form-control"
                              placeholder="Name"
                              name="fullName"
                              [(ngModel)]="currentRow.nom"
                              [class.error]="accountForm.submitted && FullNameRef.invalid"
                              #FullNameRef="ngModel"
                              required
                          />
                          <span *ngIf="accountForm.submitted && FullNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="FullNameRef.errors.required"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input
                              type="email"
                              id="email"
                              class="form-control"
                              placeholder="Email"
                              name="email"
                              [(ngModel)]="currentRow.email"
                              [class.error]="accountForm.submitted && EmailRef.invalid"
                              #EmailRef="ngModel"
                              required
                          />
                          <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status">Status</label>
                          <select class="form-control" [(ngModel)]="currentRow.enabled" name="status" id="status">
                            <option>active</option>
                            <option>inactive</option>
                            <option>pending</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Role</label>
                          <select class="form-control" [(ngModel)]="currentRow.role" name="role" id="role">
                            <option value="ROLE_ETUDIANT">Etudiant</option>
                            <option value="ROLE_PARENT">Parent</option>
                            <option value="ROLE_PROFESSEUR">Professeur</option>
                            <option value="ROLE_ADMIN">Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                            type="submit"
                            (click)="submit(accountForm)"
                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                            rippleEffect
                        >
                          Save Changes
                        </button>
                        <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary" rippleEffect>
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center">
                <i data-feather="info" class="mr-sm-50"></i><span class="d-none d-sm-block">Information</span></a
              >
              <ng-template ngbNavContent>
                <!-- Information Tab starts -->
                <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                  <!-- users edit Info form start  -->
                  <form class="form-validate">
                    <div class="row mt-1">
                      <div class="col-12">
                        <h4 class="mb-1">
                          <i data-feather="user" [size]="16" class="mr-75 font-medium-4"></i>
                          <span class="align-middle">Personal Information</span>
                        </h4>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="birthDate">Birth date</label>
                          <ng2-flatpickr
                              [config]="birthDateOptions"
                              id="birthDate"
                              name="birthDate"
                              placeholder="June 18, 2021"
                              [(ngModel)]="currentRow.dateDeNaissance"
                          ></ng2-flatpickr>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="mobile">Mobile</label>
                          <input id="mobile" type="text" class="form-control"
                                 [(ngModel)]="currentRow.numTel"
                                 name="phone"/>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label class="d-block mb-1">Gender</label>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="male" name="gender" value="" class="custom-control-input"/>
                            <label class="custom-control-label" for="male">Male</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="female" name="gender" class="custom-control-input"/>
                            <label class="custom-control-label" for="female">Female</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="unspecified" name="gender" class="custom-control-input"/>
                            <label class="custom-control-label" for="unspecified">Unspecified</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                          Save Changes
                        </button>
                        <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit Info form ends -->
                </div>
                <!-- Information Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
              ><i data-feather="share-2" class="mr-sm-50"></i><span class="d-none d-sm-block">Social</span></a
              >
              <ng-template ngbNavContent>
                <!-- Social Tab starts -->
                <div class="tab-pane" id="social" aria-labelledby="social-tab" role="tabpanel">
                  <!-- users edit social form start -->
                  <form class="form-validate">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="twitter-input">Twitter</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">
                              <i class="font-medium-2" data-feather="twitter"></i>
                            </span>
                          </div>
                          <input
                              id="twitter-input"
                              type="text"
                              class="form-control"
                              value="https://www.twitter.com/adoptionism744"
                              placeholder="https://www.twitter.com/"
                              aria-describedby="basic-addon3"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="facebook-input">Facebook</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">
                              <i class="font-medium-2" data-feather="facebook"></i>
                            </span>
                          </div>
                          <input
                              id="facebook-input"
                              type="text"
                              class="form-control"
                              value="https://www.facebook.com/adoptionism664"
                              placeholder="https://www.facebook.com/"
                              aria-describedby="basic-addon4"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="instagram-input">Instagram</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">
                              <i class="font-medium-2" data-feather="instagram"></i>
                            </span>
                          </div>
                          <input
                              id="instagram-input"
                              type="text"
                              class="form-control"
                              value="https://www.instagram.com/adopt-ionism744"
                              placeholder="https://www.instagram.com/"
                              aria-describedby="basic-addon5"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="github-input">Github</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon9">
                              <i class="font-medium-2" data-feather="github"></i>
                            </span>
                          </div>
                          <input
                              id="github-input"
                              type="text"
                              class="form-control"
                              value="https://www.github.com/madop818"
                              placeholder="https://www.github.com/"
                              aria-describedby="basic-addon9"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Codepen</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="codepen"></i>
                            </span>
                          </div>
                          <input
                              id="codepen-input"
                              type="text"
                              class="form-control"
                              value="https://www.codepen.com/adoptism243"
                              placeholder="https://www.codepen.com/"
                              aria-describedby="basic-addon12"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="slack-input">Slack</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                              <i class="font-medium-2" data-feather="slack"></i>
                            </span>
                          </div>
                          <input
                              id="slack-input"
                              type="text"
                              class="form-control"
                              value="@adoptionism744"
                              placeholder="https://www.slack.com/"
                              aria-describedby="basic-addon11"
                          />
                        </div>
                      </div>

                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                          Save Changes
                        </button>
                        <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit socail form ends -->
                </div>
                <!-- Social Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
